<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<body>

<div class="container">

    <div class="left">

        <div class="logo">🔐</div>

        <h1>SecureVault</h1>

        <p>
            Store your passwords securely.<br><br>

            ✔ Military-grade security<br>
            ✔ Fast & Easy Access<br>
            ✔ Secure Password Manager
        </p>

    </div>

    <div class="right">

        <h2>Welcome Back</h2>

        <p class="subtitle">
            Login to continue
        </p>

        <form method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <div class="text-center">

            Don't have an account?

            <a href="/register">Register</a>

        </div>

    </div>

</div>

</body>

</body>
</html>